@import 'css-star-rating/scss/star-rating.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;



/* Override Colors by using style rules */
.rating.color-negative .star-container .star {
  svg {
    fill: #ff0;
  }
  i {
    color: #ff0;
  }
}

.rating.color-ok .star-container .star {
  svg {
    fill: #ff0;
  }
  i {
    color: #ff0;
  }
}

.rating.color-positive .star-container .star {
  svg {
    fill: #ff0;
  }
  i {
    color: #ff0;
  }
}

.rating.color-default .star-container .star {
  svg {
    fill: #ff0;
  }
  i {
    color: #ff0;
  }
}
